.hero{
  padding: 70px 150px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hero h2{
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 42px;
}

.text_box h3{
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 15px;
  line-height: 27px;
}

.text_box p{
  font-family: 'Manrope';
  font-size: 15px;
  font-weight: 400;
  color: #c7c7c7;
  max-width: 600px;
  margin-bottom: 45px;
}

/* responsive */

@media screen and (max-width: 375px) {
  .hero{
    padding: 70px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero h2{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .text_box h3 br{
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .hero{
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero h2{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .text_box h3 br{
    display: none;
  }
}